  <% @activity.each do |activity|%>
   <div class="activity">
    <h2>activity</h2>
    <p>Start Time: <%=activity.start_time%></p>
    <p>End Time: <%=activity.end_time%></p>
    <p>Location: <%=activity.location%></p>
    <p>User: <%=activity.organiser.user_name%></p>
   </div>

  <% end %>