<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <div class="banner"><img src="/images/placeholder-logo.png" alt="logo">
    <div class="login"> <a href="/login">login</a>
    </div>
    <div class="signup"> <a href="/signup">signup</a>
    </div>
  </div>
  <% if session[:user_id] %>
    logged in as <%= current_user.email %>
    <form action="/session" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>logout</button>
    </form>

    <form action="/activity" method="post">
      <button>new event</button>
    </form>
    <% else %>
    not logged in
  <% end %>
  
  <%= yield %>

</body>
</html>