<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <nav>
    <div class="logo"><img src="/images/placeholder-logo.png" alt="logo"></div>
    <ul>
      <% if logged_in? %>
        <li>
          <form action="/session" method="post" class="logoutform">
          <input type="hidden" name="_method" value="delete">
          <button class="logout">logout</button>
      </li>
        <% else %>
        <li><a href="/login">login</a></li> 
    </form>
      <% end %> 
      <li><a href="/signup">signup</a></li>
    </ul>
  </nav>
  <% if session[:user_id] %>
    logged in as <%= current_user.email %>

    <form action="/activity" method="post">
      <button>new event</button>
    </form>
    <% else %>
    not logged in
  <% end %>
  
  <%= yield %>

</body>
</html>