<form action="/signup" method="post">
  <label for="firstname">first name</label>
  <input type="text" name="firstname">
  <label for="lastname">last name</label>
  <input type="text" name="lastname">
  <label for="username">user name</label>
  <input type="text" name="username">
  <label for="email">email</label>
  <input type="email" name="email">
  <label for="password">password</label>
  <input type="password" name="password">
  <button>submit</button>
</form>