<form action="/signup" method="post">
  <label for="firstname">firstname</label>
  <input type="text" name="firstname">
  <label for="lastname">lastname</label>
  <input type="text" name="lastname">
  <label for="email">email</label>
  <input type="email" name="email">
  <label for="password">password</label>
  <input type="password" name="password">
  <button>submit</button>
</form>