.signup, .login {
  background-color: dodgerblue;
  float: left;
  display: block;
}
.banner {
  background-color: aqua;
}

.activities {
  display: grid;
  grid-template-columns: 500px 500px 500px;
}
.activity {
}